/array_proposed_step_T2.5_E0.015_w0.0065.txt
/array_proposed_step_T40_E0.08_w0.0065.txt
data/cifar/cifar-10-python.tar.gz
data/cifar-10-python.tar.gz
data/cifar/cifar-10-batches-py/batches.meta
data/cifar/cifar-10-batches-py/data_batch_1
data/cifar/cifar-10-batches-py/data_batch_2
data/cifar/cifar-10-batches-py/data_batch_3
data/cifar/cifar-10-batches-py/data_batch_4
data/cifar/cifar-10-batches-py/data_batch_5
data/cifar/cifar-10-batches-py/readme.html
data/cifar/cifar-10-batches-py/test_batch
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
data/mnist/MNIST/raw/t10k-images-idx3-ubyte
data/mnist/MNIST/raw/t10k-images-idx3-ubyte.gz
data/mnist/MNIST/raw/t10k-labels-idx1-ubyte
data/mnist/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/mnist/MNIST/raw/train-images-idx3-ubyte
data/mnist/MNIST/raw/train-images-idx3-ubyte.gz
data/mnist/MNIST/raw/train-labels-idx1-ubyte
data/mnist/MNIST/raw/train-labels-idx1-ubyte.gz
